{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ product.slug }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Sku</th>
            <td>{{ product.sku }}</td>
        </tr>
        <tr>
            <th>PictureUrl</th>
            <td><img src={{ product.pictureUrl }}/></td>
        </tr>
        <tr>
            <th>DateAdd</th>
            <td>{{ product.dateAdd ? product.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <button id="add-to-cart">Add to cart</button>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#add-to-cart').on('click', function(){
                $.post("{{ path('add_cart_json') }}", {
                    product_id: {{ product.id }},
                    quantity: 1
                } );
            })
        })
    </script>
{% endblock %}
